# Directories
Debug
Release
Profile

# Project file
selector.pro.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
app/lib/libclntsh.so
app/lib/libclntsh.so.11.1
app/lib/libnnz11.so
app/lib/libocci.so
app/lib/libocci.so.11.1
app/lib/libociei.so

connect-tool/lib/libclntsh.so
connect-tool/lib/libclntsh.so.11.1
connect-tool/lib/libnnz11.so
connect-tool/lib/libocci.so
connect-tool/lib/libocci.so.11.1
connect-tool/lib/libociei.so

*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
